/* ALL HEIGHTS, WIDTHS, BACKGROUND COLORS, AND FONTS CAN BE CHANGED */

* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid darkgrey;
    user-select: none;
    background-color: grey;
}

.next {
    right: 0;
    border-radius: 3px;
}

.prev:hover, .next:hover {
    background-color: black;
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Arial; 
}

.numbertext {
    color: black;
    font-size: 10px;
    font-family: Arial;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgrey;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: rgb(0, 0, 0, 0.5);
}

.dot:hover {
    background-color: grey;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

p {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

/* Link for Tutorial: https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* You may edit and add to this */
